<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294130386379-hqasjbgjufvu6s4n2jb4q6nnjp987oqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294130386379-hqasjbgjufvu6s4n2jb4q6nnjp987oqn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>294130386379-t7u47r3bs0msjns1amtcoo19sd25dbb0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9DdiOX9XRRdyOLRKpJw-2TUEWQClozfA</string>
	<key>GCM_SENDER_ID</key>
	<string>294130386379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cobafirebasealfi.cobafirebasealfiApple</string>
	<key>PROJECT_ID</key>
	<string>cobafirebasealfi</string>
	<key>STORAGE_BUCKET</key>
	<string>cobafirebasealfi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294130386379:ios:7ab3a9caedfa4034dfe24e</string>
</dict>
</plist>